[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.10.5"
beautifulsoup4 = "==4.12.3"

[dev-packages]
black = "==24.8.0"
flake8 = "==7.1.1"
flake8-import-order = "==0.18.2"
isort = "==5.13.2"

[requires]
python_version = "3.12"
